compile_commands.json
CTestTestfile.cmake
DartConfiguration.tcl
.kdev4
Testing
.github
magick.cpp
scifir-units.kdev4
_CPack_Packages
*.deb
.vs
.vscode
CMakeFiles
build
CMakeCache.txt
.ninja_deps
.ninja_log
build.ninja
Makefile
*.sln